# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/

# Ignore environment and config files
.env
*.pem

# Ignore system and IDE files
.DS_Store
.idea/
*.log

# Ignore database files (if any)
*.sqlite3
